@import url('https://fonts.googleapis.com/css?family=Cardo|Pathway+Gothic+One|Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@900&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Overpass', sans-serif;
    line-height: 1.1em;
	padding-bottom: 1em; }

html, body, span, p, a {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.05em;
    line-height: 1.5em; }

h1 { font-size: 5em;}

h2 { font-size: 4em; }

h3, h4, h5, h6 { font-size: 3em; }

a:link, a:visited { text-decoration: none; }

a:hover { text-decoration: underline; }

p, span { font-size: 2.2em; }

p { padding-bottom: 1em; }

img { width: 100%; height: auto; }

/* Header - Logo and Nav */

header {
    color: black;
    background-color: #f5f5f5;
    top: 0;
    width: 100%; }

header {
    display: flex;
    flex-flow: row nowrap;
	height: 100%;}

header > div {
    flex: 1 1;
    padding: 1em; }

/*div#logo > h1 { font-family: 'Source Sans Pro', sans-serif; }*/

div#logo, div#nav {
    text-align: center; }

div#logo img {
	float: left;
	width: 300px;
	height: auto; }

div#nav > span {
    float: right;
    padding-right: 0.5em;
	padding-top: 1em; }

#nav span a:link, #nav span a:visited {
    color: black;
    font-family: 'Source Sans Pro', sans-serif; }

/* Sections */

div.fullscreen {
	height: 100vh; }

div.section {
	border: 0px;
	padding: 3em 1em; }

div#main, div#initiative, div#publications {
	background-color: #f5f5f5; }

div.content {
	padding: 0em 1em; }

img.content {
	padding-bottom: 2em;	}

div.icon {
	display: flex;
	justify-content: center;	}

/* Section - Main */

div#main {
	display: flex;
    flex-flow: column nowrap;
}

#main p { font-size: 1.2em; }


/* Current */

div.action {
	background-color: black;
	color: white;
	text-align: center; }

.action span {
	font-family: 'Overpass', sans-serif;
	font-size: 1.5em;
	line-height:1em; }

div.action a:link, div.action a:visited {
	font-family: 'Overpass', sans-serif;
	font-size: 1.2em;
	background-color: #fad14f;
	color: black;
	padding: 0.5em;
	text-decoration: none; }

div.action a:hover {
	background-color: black;
	border: 2px solid #fad14f;
	color: white; }

/* Section - Issues */

div#issues div.title { text-align: center;}

div.card-container {
	display: flex;
	flex-flow: column nowrap;
}

div.card {
	margin-bottom: 2em;
	padding: 0em;
	}

div.issues div.card img {
	padding-bottom: 80px; }

div.issues div.card h3, div.issues div.card p {
	padding-left: 80px;
	padding-right: 80px; }

div.issues div.card p {padding-bottom: 80px;}

div#card-0 { background-color: #f68d91; }
div#card-1 { background-color: #4ea9b6; }
div#card-2 { background-color: #4f9047; }
div#card-3 { background-color: #f47732; }

div#footer {
	background-color: black;
	color: white; }

div#footer a:link, div#footer a:visited {
	color: #fad14f; }


/*@media only screen

  and (min-device-width: 300px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 2) {

div#issues div.card-container {
	display:flex;
	flex-flow: column nowrap;
}

}*/


/* TABLET and UP*/

@media (min-width: 78em) {

	h1, h2, h3, h4, h5, h6 { padding-bottom: 1em; }

	h1 {  font-size: 5em; }

	h2 { font-size: 3em; }

	h3 { font-size: 1.8em; }

	h4, h5, h6 { font-size: 1em; }

	p, span { font-size: 1em; }

	div#logo img {
		width: 180px; }

	#nav span a:link, #nav span a:visited {
		font-size: 1.3em;
		padding-left: 1em; }

	div.section {
	border: 0px;
	padding: 2em 1em; }

	div.card-container {
		display: flex;
		flex-flow: row nowrap;
	}

	div#issues div.card-container {
		padding-bottom: 0em;
		justify-content: space-between;
	}

	div.card {
		padding-bottom: 1em;
		margin-bottom: 0em;
	}

	div.issues div.card {
		margin-left: 10px;
		margin-right: 10px;
		flex-basis: 0%;
		flex-grow: 1;
	}

	div.issues div.card img {
		padding-bottom: 30px;
		width: ; }

	div.issues div.card h3, div.issues div.card p {
		padding-left: 30px;
		padding-right: 30px; }

	div.issues div.card p {padding-bottom: 30px;}

	img.publications { width: 300px; }

	.pub-front .card-container {
		display: flex;
		flex-flow: row nowrap; }
	div.card {
		flex-basis: 30%;
		flex-grow: 0; }

	div#foot1 {
		flex-basis: 0;
		flex-grow: 2;
	}

	div#foot2, div#foot3 {
		flex-basis: 0;
		flex-grow: 1;
		margin-left: 2em;  }
}
